/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    background-color: rgb( 234,234,234);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}




/* QR code generator */
#qrCode {
    margin: 15px;
}


#jumbotron {
    background-image: url(https://dkgzabag3frbh.cloudfront.net/attachments/properties/banners/2/large_Screen_Shot_2017-09-04_at_5.51.45_pm.png);
    background-position: 50%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    border-bottom: 0;
    width: 100%;
    position: center;
    height: 350px;
    padding: 0%;
}

#form {
    font: bold;
    opacity: 1;
    position: relative;
    font-family: Arial;
    font-size: 15px;
    padding: 10px 30px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-top: 12.1%;
    color: rgb(255,255,255);
    padding-right: 0px;
    padding-left:0px;
}

#main {
    border: none;
    background-color: rgb(255,255,255);
    height: 250px;
    padding: 0%;
    margin-bottom: 30px;
}

#cont {
    padding-top: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 1100px;
    height: 100px;
    margin-right: 365px;
    
}

#img {
    border: none;
    margin-left: 0%;
    height: 250px;
    padding: 0%;
}


/* Catarina */

h3, h4, h5 {
    font-weight: 700;
    margin-top: 0;
    font-family: inherit;
}

h2 {
    color: #4682B4;
    font-family: inherit;
    margin-bottom: 5px;
}

h3, h4, h5 {
    margin-bottom: 10px;
}

.col-lg-9 {
    width: 75%;
}

.col-lg-3 {
    width: 25%;
}

#containerPage {
    margin: 0px;
    padding: 0px;
    background-color: #eaeaea;
}

.reservation-room-types {
    box-sizing: border-box;
}

.content-review {
    padding: 20px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}

.reservation-room-types {
    box-sizing: border-box;
}

.col-sm-2, .col-lg-2, .col-md-2, .col-sm-4, .col-md-6, .col-md-3 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.reservations-add-button {
    margin-top: 15px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.titulo {
    background-color: black;
    padding: 20px;
    color: white;
    margin-top: 20px;
}

.titulo2 {
    background-color: black;
    padding: 20px;
    color: white;
    margin-top: 0px;
}

.reserva, .hotel {
    padding: 20px;
    background-color: #fff;
    width: 100%;
    border: 1px solid #ccc;
}

#pBook {
    margin-bottom: 10px;
}

p{
    margin-bottom: 0px;
}

table{
    background-color:white;
    border-color: black;
}

#imgReservas{
    width: 100%;
    height: 100%;
    position: center;
    padding: 2px;
}
#preco{
    text-align: right; 
    color: #4682B4; 
    font-size: 17px;
    margin-bottom: 10px;
}

#desde {
    text-align: right; 
    margin-bottom: 0px;
    margin-left: 2%;
}

.Tarifas {
    background-color: #fff;
    margin-bottom: 20px;
    margin-top:0px;
    display: none;
}

#Especificacoes{
    margin-bottom: 5px;
}

.hoteis {
    font-weight: 100;
    font-family: inherit;
}

#pesquisa {
    margin-left: 30px; 
    margin-top: 25px;
}

#inputBook {
    outline: none;
    border-color: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
}

#inputBookRight {
    outline: none;
    border-color: none;
    box-shadow: 0 0 0 0;
    border: 0 none;
    width: 55px;
    text-align: right;
}

#quartos{
    margin-top: 25px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 35px;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 7px;
    background-color: #1a1a1a;
    color: white;
    text-align: center;
}

#aviso {
    border: none;
    background-color: #ffdd99;
    height: 150px;
    padding: 0%;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
