@*@model List<Booking.TipoQuarto>*@

@{
    ViewData["Title"] = "Form";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container-fluid" id="jumbotron">
    <div class="container-fluid" id="form">
        <div class="container-fluid" id="cont">
            <form method="post">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <label>Entrada </label>
                        <input type="date" class="form-control" name="CheckIn" min="@ViewBag.DataMin">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12">
                        <label>Saída </label>
                        <input type="date" class="form-control" name="CheckOut" min="@ViewBag.DataMin">
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-12">
                        <label>Quarto</label>

                        <select class="form-control" name="tipoQuarto">
                            @foreach (var item in ViewBag.List) {
                                <option> @item.ToString()</option>
                            }
                        </select>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-12">
                        <label>Quartos</label>
                        <input type="number" class="form-control" value="1" name="QuantQuartos">
                    </div>
                    <div class="col-lg-1 col-md-3 col-sm-12">
                        <button asp-action="Index" , asp-controller="Home" id="pesquisa" type="submit" class="btn btn-info">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>